%section-title{
    text-align: center;
    .heading{
        @include headings(lg);
        // color:$main-color;
        color: #DAAF5A;
    }
    p{
        @include headings(sm);
        font-weight: 400;
        font-family: "Rancho", Sans-serif;
        font-size:40px;
    }
}

%section-group{
    width:80%;
    margin: 0px auto;
    padding: 50px 0px;
   
}