@mixin hero($name:btn){
    @if($name == 'text'){
        background-color:#2980b9;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        .hero-title{
            color:$second-color;
            @include headings(xl);
        }
        p{
            text-align:center;
            width: 500px;
            color:$second-color;
        }
    }
        @else{
            background-color: #2980b9;
            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction:column;
            .hero-title{
                @include headings(xl);
            }
            .btn-hero{
                @include btn(lg);
            }
        }
    
}